<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Currency</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search currencies'"
                />
            </mat-form-field>
            <!-- Add currency button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createCurrency()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Currencies list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            @if (currencies$ | async; as currencies) {
                @if (currencies.length > 0) {
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="currency-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                            matSort
                            matSortDisableClear
                        >
                            <div [mat-sort-header]="'currencyName'">Code</div>
                            <div [mat-sort-header]="'currencyName'">Name</div>
                            <div>Symbol</div>
                            <div class="hidden sm:block">Details</div>
                        </div>
                        <!-- Rows -->
                        @if (currencies$ | async; as currencies) {
                            @for (
                                currency of currencies;
                                track trackByFn($index, currency)
                            ) {
                                <div
                                    class="currency-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                >
                                    <!-- Currency Code -->
                                    <div class="truncate">
                                        {{ currency.currencyCode }}
                                    </div>

                                    <!-- Currency Name -->
                                    <div class="truncate">
                                        {{ currency.currencyName }}
                                    </div>

                                    <!-- Symbol -->
                                    <div class="truncate">
                                        {{ currency.symbol }}
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="h-7 min-h-7 min-w-10 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(currency.id)"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    selectedCurrency?.id ===
                                                    currency.id
                                                        ? 'heroicons_solid:chevron-up'
                                                        : 'heroicons_solid:chevron-down'
                                                "
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    @if (selectedCurrency?.id === currency.id) {
                                        <ng-container
                                            *ngTemplateOutlet="
                                                rowDetailsTemplate;
                                                context: { $implicit: currency }
                                            "
                                        ></ng-container>
                                    }
                                </div>
                            }
                        }
                    </div>

                    <mat-paginator
                        class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                } @else {
                    <div
                        class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                    >
                        There are no currencies!
                    </div>
                }
            }

            <ng-template #rowDetailsTemplate let-currency>
                <div class="overflow-hidden shadow-lg">
                    <div class="flex border-b">
                        <!-- Selected currency form -->
                        <form
                        class="flex w-full flex-col"
                        [formGroup]="selectedCurrencyForm"
                    >
                        <div class="grid grid-cols-1 gap-4 p-8 sm:grid-cols-2 sm:gap-8">
                            <!-- Column 1 -->
                            <div>
                                <!-- Currency Code -->
                                <mat-form-field class="w-full">
                                    <mat-label>Currency Code</mat-label>
                                    <input matInput [formControlName]="'currencyCode'" />
                                </mat-form-field>

                                <!-- Currency Name -->
                                <mat-form-field class="w-full">
                                    <mat-label>Currency Name</mat-label>
                                    <input matInput [formControlName]="'currencyName'" />
                                </mat-form-field>
                            </div>

                            <!-- Column 2 -->
                            <div>
                                <!-- Symbol -->
                                <mat-form-field class="w-full">
                                    <mat-label>Symbol</mat-label>
                                    <input matInput [formControlName]="'symbol'" />
                                </mat-form-field>

                                <!-- Modified Date -->
                                <mat-form-field class="w-full">
                                    <mat-label>Modified Date</mat-label>
                                    <input matInput [formControlName]="'modifiedDate'" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div
                            class="flex w-full items-center justify-between border-t px-8 py-4"
                        >
                            <button
                                class="-ml-4"
                                mat-button
                                [color]="'warn'"
                                (click)="deleteSelectedCurrency()"
                            >
                                Delete
                            </button>
                            <div class="flex items-center">
                                @if (flashMessage) {
                                    <div class="mr-4 flex items-center">
                                        @if (flashMessage === 'success') {
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"
                                            ></mat-icon>
                                            <span class="ml-2">Currency updated</span>
                                        }
                                        @if (flashMessage === 'error') {
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x-mark'"
                                            ></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        }
                                    </div>
                                }
                                <button
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="updateSelectedCurrency()"
                                >
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>

                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
