<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Delivery Method</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Search delivery methods'"
                />
            </mat-form-field>
            <!-- Add delivery method button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createDeliveryMethod()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Delivery Methods list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            @if (deliveryMethods$ | async; as deliveryMethods) {
                @if (deliveryMethods.length > 0) {
                    <div class="grid">
                        <!-- Header -->
                        <div
                        class="delivery-method-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                        matSort
                        matSortDisableClear
                        style="grid-template-columns: 200px 1fr 100px;" >
                        <div [mat-sort-header]="'deliveryMethodName'">Name</div>
                        <div class="hidden sm:block">Details</div>
                    </div>
                        <!-- Rows -->
                        @if (deliveryMethods$ | async; as deliveryMethods) {
                            @for (
                                deliveryMethod of deliveryMethods;
                                track trackByFn($index, deliveryMethod)
                            ) {
                                <div
                                class="delivery-method-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                                style="grid-template-columns: 200px 1fr;">
                                    <!-- Name -->
                                    <div class="truncate">
                                        {{ deliveryMethod.deliveryMethodName }}
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="h-7 min-h-7 min-w-10 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(deliveryMethod.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    selectedDeliveryMethod?.id ===
                                                    deliveryMethod.id
                                                        ? 'heroicons_solid:chevron-up'
                                                        : 'heroicons_solid:chevron-down'"
                                            ></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    @if (selectedDeliveryMethod?.id === deliveryMethod.id) {
                                        <ng-container
                                            *ngTemplateOutlet="
                                                rowDetailsTemplate;
                                                context: { $implicit: deliveryMethod }">
                                    </ng-container>
                                    }
                                </div>
                            }
                        }
                    </div>

                    <mat-paginator
                        class="z-10 border-b bg-gray-50 dark:bg-transparent sm:absolute sm:inset-x-0 sm:bottom-0 sm:border-b-0 sm:border-t"
                        [ngClass]="{ 'pointer-events-none': isLoading }"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>
                } @else {
                    <div
                        class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                    >
                        There are no delivery methods!
                    </div>
                }
            }

            <ng-template #rowDetailsTemplate let-deliveryMethod>
                <div class="overflow-hidden shadow-lg">
                    <div class="flex border-b">
                        <!-- Selected delivery method form -->
                        <form
                            class="flex w-full flex-col"
                            [formGroup]="selectedDeliveryMethodForm"
                        >
                            <div class="flex flex-col p-8">
                                <!-- Two-column grid layout -->
                                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                    <!-- Delivery Method Name -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Delivery Method Name</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'deliveryMethodName'"
                                        />
                                    </mat-form-field>
                                    <!-- Edited By -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Edited By</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'lastEditedBy'"
                                        />
                                    </mat-form-field>
                                    <!-- Valid From -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Valid From</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'validFrom'"
                                        />
                                    </mat-form-field>
                                    <!-- Valid To -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Valid To</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'validTo'"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
            
                            <div
                                class="flex w-full items-center justify-between border-t px-8 py-4"
                            >
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedDeliveryMethod()"
                                >
                                    Delete
                                </button>
                                <div class="flex items-center">
                                    @if (flashMessage) {
                                        <div class="mr-4 flex items-center">
                                            @if (flashMessage === 'success') {
                                                <mat-icon
                                                    class="text-green-500"
                                                    [svgIcon]="
                                                        'heroicons_outline:check'
                                                    "
                                                ></mat-icon>
                                                <span class="ml-2"
                                                    >Delivery method updated</span
                                                >
                                            }
                                            @if (flashMessage === 'error') {
                                                <mat-icon
                                                    class="text-red-500"
                                                    [svgIcon]="
                                                        'heroicons_outline:x-mark'
                                                    "
                                                ></mat-icon>
                                                <span class="ml-2"
                                                    >An error occurred, try again!</span
                                                >
                                            }
                                        </div>
                                    }
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedDeliveryMethod()"
                                    >
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>
